@import 'react-image-gallery';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "googleSingleDay";
    src: url(../fonts/Single_Day/SingleDay-Regular.ttf);
}

:root {
    --font-googleGugi: "googleGugi";
    --font-googleSingleDay: "googleSingleDay";
}

.image-gallery {
    width: 100%;
    margin-bottom: 100px;
}

.image-gallery-image {
    border-radius: 30%;
}

.image-gallery-bullets {
    margin-bottom: 10px;
}


